template(name="homeRemote")
  with playInBrowser
    +videoFS this
  else
    .container-fluid
      .row
        .col-lg-6.center-block
          form.input-group
            input(type="text" class="form-control" placeholder="Search...")
            span.input-group-btn
              button.btn.btn-default(type="submit") Go!
      with currentFile
        .row.vertical-center
          .sk-double-bounce(style="width:40px;height:40px;")
            .sk-child.sk-double-bounce1(style="{{innerStyles}}")
            .sk-child.sk-double-bounce2(style="{{innerStyles}}")
          p.center-block {{#if peers.length}}{{peers.length}} peer(s){{else}}No peer{{/if}} connected!
      else
        each file
          .row
            .col-lg-6.center-block
              +linkLocalFile this

        if hasTorrents
          +ReactiveTable(layout="tableLayout_bootstrap" options=options)
        else
          .row
            .col-lg-6.center-block
              p No result found !

template(name="linkLocalFile")
  h3
    a {{name}}
    small {{size}} bytes
