template(name="videoFS")
  figure
    with urlAndVideoType
      if isDesktop or isTablet
        video#backgroundvid(autoplay poster="placeholder.jpg")
          source(src="{{url}}")
          track(default src="/video/vtt")

          p Browser does not support HTML5 video tag!
      else
        p You should see your default video player.
        p.small Otherwise click below:
        a(href="{{url}}") Download {{type}}
    else
      p No available codec found!
      each toArray mediaType
        p.small {{key}}: {{value}}
