template(name="videoFS")
  figure
    video#backgroundvid(autoplay poster="placeholder.jpg")
      source(src="/video/mp4?play" type='video/mp4')
      track(default src="/video/vtt")

      <!-- Offer download -->
      a(href="video/mp4?download") Download MP4
      p Fallback content to cover incompatibility issues
