html {
  min-height: 100%;
}

.text-center {
  text-align: center; }

.full {
  overflow-y: hidden;
  font-family: "Segoe UI", "Open Sans", sans-serif, serif;
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
}
.red {
  color: red; }

.lb {
  color: lightblue; }

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  width: auto !important; }

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); }

[data-required] label:after {
  content: "*";
  color: red; }

body {
  height: 100%;
  font-size: 14px;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  /*top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;*/
  z-index: 2;
  overflow: hidden;
  /*-webkit-filter: blur(3px);
  filter: blur(3px);*/
}

.tv {
  background: no-repeat center/cover url("/bg.jpg");
}

.disable {
  cursor:
}
